name: Merge Repositories

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  merge:
    name: Merge Repositories
    runs-on: ubuntu-latest

    steps:
      - name: Checkout my repo
        uses: actions/checkout@v2
        with:
          repository: MikuX-Dev/chatgpt-clone-website
          token: ${{ secrets.PAT_TOKEN }}
          ssh-strict: false

      - name: Configure Git
        run: |
          git config user.name "MikuX-Dev"
          git config user.email "abinishanth3464@gmail.com"

      - name: Fetch changes from upstream
        run: git remote add upstream https://github.com/xtekky/chatgpt-clone.git && git fetch upstream
 
      - name: Merge changes
        run: git merge upstream/main --allow-unrelated-histories

      - name: Push changes to my repo
        run: |
          git push origin main
